body{
    background-color:blanchedalmond ;
}

.tamaño{
    height: 350px;
    width: 650px;
}
.venus{
    height: 50%;
}

.ugolino{
   margin: auto;
    
}
div{
    margin: 0.5em auto;
}



